:root {
  --primary: #fab973;
  --secondary: #ffc98f;
  --contrast: #73d6fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
}
header {
  background-color: var(--primary);
}

main {
  font-family: sans-serif;
  text-align: center;
}
.app-todo {
  height: 100%;
}
.todoContainer {
  width: 50%;
  margin: 0px auto;
  padding: 48px 16px 24px;
}
.input-form:focus,
.input-form:hover {
  border: 1px solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ant-checkbox-inner {
  border-color: var(--primary)!important   ;
  background-color: #fff!important ;
 

}
.ant-checkbox-inner::after{
  border-color: var(--primary)!important;
} 
.checkbox:hover .ant-checkbox-inner {
  border-color: var(--primary) !important;

}
